

    
*{
    box-sizing:border-box;
}



body {
    padding: 0;
    margin: 0;

    
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: transparent;
    opacity: 0;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(10, 0, 0,1));
}

body:hover nav {
    
    transition: 1.5s;
    opacity: 1;
}

header {

    background-image: url(imagesportfolio/popcorn-4885565_960_720.webp);
    background-size: cover;
    width: 100%;
    height: 650px;
    background-position:center;
    overflow: hidden;
    
}

#logo {
    
    margin-left: -10px;
    margin-top: -6px;
    
}

 nav span {
    margin-left: 25px;
    
    
}


header a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 10px;
    
    
}

#essai {
    display: flex;
    height: 600px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}

#imgdescription {
    
    width: 500px;
    height: 300px;
}

#aboutme p {
    opacity: 0;
    transition: 0.9s;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: whitesmoke;
    padding: 10px;
    font-weight: bolder;
    background-color: rgba(53, 1, 1, 0.3);

}

#age {
    display: flex;
    flex: 1;
    justify-content:flex-end;
    width: 850px;
    
}

#age p {
    
    color: white;
    padding: 15px;
    background-color: rgb(10, 0, 0, 0.3);
    width: 120px;
    border-left: red 3px solid;
    opacity: 0;
    margin-right: 0px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

body:hover #age p {
    opacity: 1;
    transition: 1s linear;
    margin-right: -30px;
}





#logo2{
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}


H2 {
    color: #b1060f;
    font-weight: bold;
    font-size: 30px;
    

    
}



header button {
    margin-left: 18px;
    margin-top: 10px;
    padding: 15px;
    background: transparent;
    color: white;
    border: none;
    border-left: 3px solid red;
    font-size: 17px;
    font-weight: bolder;
    
}

header button:hover {
    background-color: rgba(53, 1, 1, 0.3);
    transition: 0.5s;
    cursor: pointer;
}



.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    
    
}


.carousel-item {
    margin-left: 1rem;
    margin-top: -50px;

}

.carousel-item:hover {
    box-shadow: 6px 4px 8px 3px rgba(97,9,9,0.78);
-webkit-box-shadow: 6px 4px 8px 3px rgba(68, 7, 7, 0.78);
-moz-box-shadow: 6px 4px 8px 3px rgba(128, 20, 20, 0.78);
    transition: 0.7s;
    cursor: pointer;    
}

.carousel {
    background-color: black;
    color: wheat;
    border-top: 1px solid #b1060f;
    margin-bottom: -15px;
}

.carousel-items::-webkit-scrollbar {
    height: 6px;
    background-color:black;
}

.carousel-items::-webkit-scrollbar-thumb {
    background-color:rgba(126, 121, 121, 0.2);
    width: 10px;
}



body::-webkit-scrollbar {
    width: 3px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color:#b1060f;
    height: 2px;
    
}



.carousel H4 {
    margin-left: 18px;
    margin-top: 10px;
    height: 35px;
    display: flex;
    align-items: flex-end;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 6px;
    font-weight: bolder;
    color: white;
    

}



main {
    margin-top: -21px;
}

ul {
    list-style: none;
}

 .lire {
     background-color: black;
     color: #b1060f;
     border: none;
     border-left: 2px solid #b1060f;
     font-size: 17px;
     text-decoration: none;
     padding: 5px;    
     margin-left: 5px; 
     
 }

 .link {
     text-decoration: none;
     color: wheat;
     font-family: 'Open Sans Condensed', sans-serif;
 }

.lire:hover{
    font-size: 19px;
    transition: 0.3s;
}



.card {
    padding-bottom: 6px;
    padding-right: 3px;
    
}

.card p {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    
    color: wheat;

}


#contact {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#contact1 {
    margin-top: -16px;
    padding: 15px;
    background-color: black;
    
}




#contact1 h4 {
    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 7px;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
    margin-left: -9px;

}


#contactdiv1 {
    height: 180px;
}

#contactdiv1 i {
    font-size: 20px;
}

.contactdiv {
    padding: 25px;
    border-left: 0.5px solid wheat; 
    font-family: 'Open Sans Condensed', sans-serif;
    color: wheat;
    font-size: 15px;
    letter-spacing: 7px;
    font-weight: bolder;

}

.contactdiv span {
    font-size: 30px;
    margin-left: 25px;
}
.contactdiv a:hover {
    color: #b1060f;
    transition: 0.3s;
}

.contactdiv a {
    text-decoration: none;
    color: wheat;
}

#contact1 hr {
    width: 1000px;
    color: white;
}


footer {
    padding: 10px;
    background-color: black;
    color: wheat;
    font-size: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

footer hr {
    color: wheat;
    width: 110px;
}

footer p {
    text-align: center;
    letter-spacing: 7px;
}

#invisible {
    display: none;
}


@media screen and (max-width: 590px) {
    #contactdiv1 {
        width: 320px;
        font-size: 10px;
        
    }
    #contactdiv2 span {
        font-size: 23px;
        margin-left: 7px;
    }

    #contactdiv1 i {
        font-size: 15px;
        
    }

    #contact{
        display: inline-block;
    }

    body {
        padding: 0;
        margin: 0,
    }
    
}


@media screen and (max-width: 640px) {

    #invisible {
        display: block;
        color: wheat;
        font-size: 22px;
        letter-spacing: 20px;
        margin-left: 33px;
        
    }

    #invisible a {
        text-decoration: none;
        color: wheat;
    }

    #contact {
        border-left: 1px solid wheat;
        padding-top: 18px;
    }

    #contactdiv2 {
        border-left: hidden;
              
    }
    #contactdiv1 {
        display: none;
    

    }
}

@media screen and (max-width : 400px)  {

    header button {
        display: none;
    }

    #js_style {
        opacity: 1;
    }
    
}

@media screen and (max-width : 375px) {
    #menu {
        display: none;
    }
}


@media screen and ( max-width : 360px) {
    #age p {
        display: none;
    }
}


html {
    scroll-behavior: smooth;
}